.category-main-container{
    display: flex;
    flex-direction: column;
    padding: var(--global-padding);
}

.category-heading{
    color: var(--text-color);
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 24px;
}

.category-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    padding: 0px 0px 0 0;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .category-cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .category-cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .category-cards-container{
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .category-cards-container{
        grid-template-columns: auto;
    }
}

