:root{
  --text-color: #4E4E4E;
  --icon-color: #C30000;
  --button-color: #2F7A97;
  --bg-color: #FFFFFF;
  --work-sans-font: "Poppins", sans-serif;
  --hover-font-color: #C30000;
  --border-color: #D9D9D9;
  --active-nav-item-color: #C30000;
  --button-color: #484F59;
  --footer-bg-color: #484F59;
  --footer-nav-items-color: #F8F8F8;
  --mobile-nav-item-bg: #F0F0F0;
  --banner-bg-color: #F8E6CD;
  --footer-nav-heading: #FAFAFA;
  --Poppins-font: "Poppins", sans-serif;
  --products-bg: #C9EFF4;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}