.categoty-card{
    display: flex;
    background-color: #f7f7f7;
    padding: 20px;
    cursor: pointer;
}

.categoty-card:hover{
    background-color: #F0F0F0;
}

.category-card-items{
    display: flex;
    align-items: center;
    gap: 16px;
}

.category-card-items img{
    width: 200px;
    height: 160px;
}

@media only screen and (max-width: 2250px){
    .category-card-items img{
        width: 160px;
        height: 140px;
    }
}

@media only screen and (max-width: 2050px){
    .category-card-items img{
        width: 140px !important;
        height: 120px !important;
    }
}

.category-card-items p{
    line-height: 32px;
    font-weight: 600;
    font-size: 30px;
}

@media only screen and (max-width: 1750px){
    .category-card-items img{
        width: 120px !important;
        height: 80px !important;
    }
    .category-card-items p{
        font-size: 22px;
    }
}

@media only screen and (max-width: 1485px){
    .category-card-items img{
        width: 100px !important;
        height: 60px !important;
    }

    .category-card-items p{
        font-size: 14px;
    }
}

.category-card-items p a{
    color: var(--text-color);
    text-decoration: none;
} 