.best-seller-main-container{
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 25px 60px;
}

.best-seller-cards-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 15px;
}

/* Best Saller menu */
.best-seller-menu{
    display: flex;
    width: 100%;
    height: 48px;
    box-shadow: 1px 1px 8px 0px #00000026;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
}

.best-seller-menu h3{
    font-size: 38px;
    font-weight: 700;
    line-height: 37px;
    color: var(--text-color);
}



.best-seller-nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
}

.best-seller-nav-items p{
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-color);
    cursor: pointer;
    /* border-bottom: 3px solid #ffff; */
}

.best-seller-nav-items p.active{
    border-bottom: 3px solid var(--active-nav-item-color);
    font-size: 26px;
    font-weight: 600;
}


@media only screen and (max-width: 2375px){
    .best-seller-menu h3{
        font-size: 34px;
    } 

    .best-seller-nav-items p{
        font-size: 22px;
    }
    
    .best-seller-nav-items p.active{
        font-size: 26px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 1850px){
    .best-seller-menu h3{
        font-size: 30px;
    } 

    .best-seller-nav-items p{
        font-size: 18px;
    }
    
    .best-seller-nav-items p.active{
        font-size: 22px;
    }
}

@media only screen and (max-width: 1460px){
    .best-seller-menu h3{
        font-size: 25px;
    } 

    .best-seller-nav-items p{
        font-size: 15px;
    }
    
    .best-seller-nav-items p.active{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px){
    .best-seller-menu h3{
        font-size: 20px;
    }

    .best-seller-nav-items p{
        font-size: 13px;
    }
    
    .best-seller-nav-items p.active{
        font-size: 15px;
    }
}

/* Best Seller Product Cards */
.best-seller-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
}

/* Best Seller Banner */
.best-seller-banners-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    gap: 10px;
}

.best-seller-banners-container img{
    width: 100%;
    height: 100%;
}