.footer-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    font-family: var(--work-sans-font);
    background-color: var(--footer-bg-color);
}

.footer-nav{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 23px;
    margin-bottom: 40px;
}

.footer-nav-link-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #FAFAFA;
    margin-bottom: 20px;
}

.footer-nav-items{
    padding: 10px 0px;
}

.footer-nav-items a{
    color: var(--footer-nav-items-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.footer-nav-items a:hover{
    color: var(--hover-font-color)
}

.footer-contact-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding: 40px 0 0 0;

}

.social-icons{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0px 0 20px 0px;

}

.social-icons a img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.rating-container{
    display: flex;

    padding: 20px 20px 16px 20px;
    background-color: #1F2123;
}

.rating-container img{
    width: 80px;
    height: 80px;
}

.rating-stars-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    color: white;
}

.rating-stars-container h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.rating-stars-container p{
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}

.location-phone-main-container{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.icon-and-name{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    /* padding: 0px 0px 20px 0px; */
    
}

.icon-and-name img{
    width: 15px;
    height: 15px;
}

.icon-and-name a{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #F3F5F8;
}

.icon-and-name a:hover{
    color: var(--hover-font-color);
}

.footer-customer-care-and-about-furniture-mecca{
    display: flex;
    width: 40%;
    justify-content: space-between;

}

.footer-care-and-about{
    display: flex;
    flex-direction: column;
}

.footer-care-and-about h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    padding: 0 0 15px 0;
}

.footer-care-and-about-links{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}

.footer-care-and-about-links:hover{
    color: var(--hover-font-color);
}

.footer-rights-reserved-container{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0 0;
}

.footer-rights-reserved-container p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.footer-rights-reserved-container p a{
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}