.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 40px 0px;
}

.product-slider {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.row {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    gap: 20px;
}

.column {
    flex: 1 0 40%; /* Each column takes 50% of the row */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 170px;
    display: flex;
    width: 100%;
}



.column img{
    width: 150px;
    height: 150px;
}

.furniture-details-container{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: start;
    font-family: var(--work-sans-font);
    gap: 5px;
}

.price{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}

.heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: var(--text-color);
}

.code{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}

.dimension{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}

.material{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}

.furniture-details-container button{
    height: 35px;
    width: 100%;
    background-color: #484F59;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    border-radius: 4px;
    border: 1px solid #484F59;
    cursor: pointer;
}

.product-arrow{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3333;
    position: absolute;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 17%;
} 

.product-arrow img {
    width: 35px;
    height: 35px;
}

/* Mobile view slider style */
.mobile-view-product-slider{
    display: none;
}

.mobile-view-row{
    /* display: flex; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-row: auto;
    width: 100%;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5px;
    /* padding: 10px 30px; */
    background-color: #484F59;
}

.mobile-view-column{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #484F59; */
    padding: 10px;
}

.mobile-view-column image {
    width: 80px;
    height: 60px;
}

/* Responsive adjustments */
@media only screen and (max-width: 1100px){
    .product-slider{
        display: none;
    }
    .mobile-view-product-slider{
        display: flex;
        padding: 10px 20px;
        background-color: blue;
    }
}
